body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: large;
    background-color: #171817;
}

.box {
    width: 300px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(rgb(22, 103, 117), green, blue, alpha);
    text-align: center;
}

.box h1 {
    color: rgb(236, 230, 230);
    font-weight: 700;
}

.box input[type="text"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid #034b67;
    padding: 14px 10px;
    width: 220px;
    outline: none;
    color: rgb(255, 247, 247);
    border-radius: 24px;
    transition: 0.25px;
}

.box input[type="text"]:focus {
    width: 270px;
    border-color: #586703;
}

.box button {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid #126703;
    padding: 14px 30px;
    outline: none;
    color: rgb(241, 233, 233);
    border-radius: 24px;
    transition: 0.25px;
    cursor: pointer;
}

.box button:hover {
    background: #0a3a01;
}
